body {
  background: #000000;
  color: white;
}

.stopwatch {
  padding-top: 3em;
  text-align: center;
  font-size: 4em;
}

.time {
  text-align: center;
  font-size: 2.5em;
}
button {
  margin-top: 1em;
  width: 6em;
  height: 2.5em;
  border-color: white;
  color: #3a3a3a;
  cursor: pointer;
  text-align: center;
}
